@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.light {
  background-image: url("/images/pattern-background-desktop-light.svg");

  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 100vh;
}

@media (max-width: 802px) {
  body {
    background-image: url("/images/pattern-background-tablet-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 442px) {
  body {
    background-image: url("/images/pattern-background-mobile-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.dark {
  background-color: #313e51;
  background-image: url("/images/pattern-background-desktop-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}
